@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
}

/* Masquer la scrollbar */
::-webkit-scrollbar { 
    width: 0px; 
    background: transparent; 
}

.bg-juswell { 
    background-color: #004aad; 
}

/* Animations simples */
.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}