@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');

body { font-family: 'Inter', sans-serif; -webkit-tap-highlight-color: transparent; }

/* Styles pour correspondre aux captures GitHub Pages */
input::placeholder {
    color: #cbd5e1;
    font-size: 10px;
    letter-spacing: 0.1em;
    font-weight: 800;
}

.shadow-blue-100 {
    shadow-color: rgba(0, 74, 173, 0.1);
}

/* Scrollbar invisible */
::-webkit-scrollbar { display: none; }
